flask
flask-cors
flask-pymongo
flask-jwt-extended
flask_socketio
python-dotenv
google-generativeai
langchain
langchain-core
langchain-community
faiss-cpu
numpy
werkzeug
reportlab
pymongo[srv]
gunicorn